containers:
  - name: petclinic
    image: dsyer/petclinic
    ports:
      - containerPort: 8080
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: postgres
      - name: SPRING_DATASOURCE_URL
        valueFrom:
          secretKeyRef:
            name: demo-db
            key: SPRING_DATASOURCE_URL
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: demo-db
            key: SPRING_DATASOURCE_USERNAME
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: demo-db
            key: SPRING_DATASOURCE_PASSWORD
    livenessProbe:
      httpGet:
        path: /actuator/health
        port: 8080
      initialDelaySeconds: 60
      periodSeconds: 10
    readinessProbe:
      httpGet:
        path: /actuator/health
        port: 8080
      initialDelaySeconds: 60
      periodSeconds: 10
